.display-4{
font-family: 'Raleway', sans-serif;
color: white;
    text-shadow:
    -1px -1px 0  rgb(246, 245, 244),
    1px -1px 0  rgb(246, 245, 244),
    -1px 1px 0  rgb(246, 245, 244),
    1px 1px 0  rgb(246, 245, 244);  
    
}
.nav-link{
    font-family: 'Raleway', sans-serif;
    color:black;
    font-size: large;
    font-weight: 1000;  
    

}
body{
    background-color:  white;
}
.container{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}

h1{
    color: black;
    font-weight: 1000;
    text-align: center;
}
.text{
    margin: 0 auto;
}
.container1{
  width: 500px; 
  padding: 20px; 
  border: 2px solid rgba(0, 0, 0, 0.726);
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: white;
  background-color:rgba(0, 0, 0, 0.726);
}
#main{
  float: center;
  width: 33.3%;
  padding: 0px;
}

h2{
    padding-left: 20px;
}
.card{
    border-color: black;
    height: 500px;
    font-size: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1003px){
    #photos{
        width: 300px;
        height: 300px;
    }
    #label{
    background-color:rgba(0, 0, 0, 0.726);
    color: rgb(246, 245, 244);
    text-align: center;
    width: 300px;
    position: relative;
    margin-top: -50px;
    }
  
    }
@media screen and (min-width: 1004px){
#label{
    background-color: rgba(0, 0, 0, 0.726);
    color: rgb(246, 245, 244);
    text-align: center;
    width: 450px;
    position: relative;
    margin-top: -50px;
    }   
}